{{#if user}}
<div>
  <h2>Log Out</h2>
</div>
<form action="/logout">
  <div>
    <input type="submit" value="Logout">
  </div>
</form>
{{else}}
<div>
<h2>Log In</h2>
</div>
<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="admin">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" value="admin">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" value="Log In">
  </div>
    <p class="account-message">
    Don't have an account?
    <a href="/signup">Register</a>
  </p>
</form>
{{/if}}