<div id="register-box">
  <div>


<form action="/signup" method="POST" id="form-container">
<h2>Register</h2>
<br>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Your username" required>
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password" required>
  <br><br>
  <label for="name">Name</label>&nbsp;&nbsp;
  <input id="name" type="text" name="name" placeholder="Your name" required>
  <br><br>
  <label for="lname">Last Name</label>
  <input id="lname" type="text" name="lname" placeholder="Your last name" required style="float: right">
  <br><br>
  <label for="email">email</label>
  <input id="email" type="email" name="email" placeholder="Your email" required>
  <br><br>
  <label for="phone">Phone</label>
  <input id="phone" type="number" name="phone" placeholder="0123456789">
  <br><br>
  <label for="company">Company</label>
  <input id="company" type="text" name="company" placeholder="Your company">

  {{#if message}}
    <div class="error-message">
      <br>
      {{ message }}
    </div>
  {{/if}}

  <br>
  <div>
    <br>
<button id="registerbutton">Create User</button>
  <p class="account-message">
    <br>
    Do you already have an account?&nbsp;&nbsp;<a href="/login">Login</a>
  </p>
  </div>
  
</form>
  </div>
</div>