<h2>Add System</h2>
<br>
<form action="/system/add" method="POST" id="form-container">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Name" required>
  <br><br>
  <label for="description">Description</label>
  <br>
  <textarea rows="3" cols="50" id="description" type="text" name="description" placeholder="System Description" required></textarea>
  <!--<input id="description" type="text" name="description" placeholder="System Description" required>-->
  <br><br>
  <label for="manufacturer">Manufacturer</label>
  <br>
  <select id="manufacturer" name="manufacturer" required>
    {{#each list}}
    <option value="{{this.name}}">{{this.name}}</option>
    {{/each}}
  </select>
  <br><br>
  <div>
  {{#if message}}
    <div class="error-message">
      <span id="message">{{ message }}</span>
    </div>
  {{/if}}
  </div>
  <br>
  <button>Add System</button>
</form>
<br>
<div>
  <p id="backhome">Back to <a href="/home">Home</a></p>
</div>