<h2>Edit Password</h2>

<form action="/user/password/update/{{dbUser._id}}" method="POST" id="form-container">
  <label for="password1">Password</label>
  <input id="password1" type="password" name="password1" placeholder="*****" required>
  <br><br>
  <label for="password2">Confirm Password</label>
  <input id="password2" type="password" name="password2" placeholder="*****" required>
  <br><br>
  <div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  </div>
  <button>Update Password</button>
</form>
<div>
  Back to <a href="/home">Home</a>
</div>
