
<div id="password-box">
  <div>
<form action="/user/password/update/{{dbUser._id}}" method="POST" id="form-container">
<h2>Change password</h2>
<br>
  <label for="password1">Password</label>
  <input id="password1" type="password" name="password1" placeholder="*****" required>
  <br><br>
  <label for="password2">Confirm Password</label>
  <input id="password2" type="password" name="password2" placeholder="*****" required>
  <br><br>
  <div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  </div>
  <button id="passwordbutton">Update Password</button>
  <br><br>
  <div>
  Back to <a href="/home">Home</a>
</div>
</form>

  </div>
  
</div>

