<div id="home-title">
<div>
  <h1>Resource Forbidden!</h1>
  <h5>Please contact your system administrator</h5>
</div>
<div class="btn-group" role="group" aria-label="Basic example" id="button-controls">
  <button type="button" class="btn btn-secondary"><a id="chgpass" href="/user/password/{{user.id}}"><i class="fas fa-key" title="Change Password"></i></a></button>
  <button type="button" class="btn btn-secondary"><a id="logout" href="/logout"><i class="fas fa-lock" title="Express Log Out"></i></a></button>
</div>
</div>
<div id="forbidden">

</div>

<!--
<h1>403 Error</h1>
<h2>Resource forbidden</h2>
<div>
  Back to <a href="/home">Home</a>
</div>
-->