<style>
  body {
    background: black;
  }
</style>
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://static.videezy.com/system/resources/previews/000/000/106/original/Ethernet.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <p id="main-title" class="display-3">STRUKTUR</p>
        <p class="lead mb-0"><strong>STRUCTURED CABLING PROJECT TOOL</strong></p>
      </div>
    </div>
  </div>
</header>

<!--
<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      	<div class="content">
        	<div class="input-group">
            <input type="email" class="form-control" placeholder="Enter your email...">
            <span class="input-group-btn">
              <button class="btn" type="submit">Subscribe Now</button>
            </span>
          </div>
	      </div>
      </div>
    </div>
  </div>
</section>
-->