// Default values:
/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
/*
.navbar {
  position: fixed;
  width: 100%;
}
*/

.newsletter {
  //padding: 80px 0;
  //background: #19beda;
  background: black;
  }
  
  .newsletter .content {
  max-width: 500px;
  margin: 25px auto;
  text-align: center;
  position: relative;
  z-index: 2; }
  .newsletter .content h2 {
  color: #243c4f;
  margin-bottom: 20px; }
  .newsletter .content .form-control {
  height: 30px;
  border-color: #ffffff;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 10px;
  }
  .newsletter .content.form-control:focus {
  box-shadow: none;
  //@extendborder: 2px solid #243c4f;
  }
  .newsletter .content .btn {
  min-height: 20px; 
  border-radius:25px;
  border: 2px solid #343a40;
  background: #343a40;
  color: darkgray;
  font-weight:600;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  //width: 150px;
  align-items: center;
  }
/*
*/
.input-prepend > input {
  text-align: center;
}

.form-inline {
  display: flex;
  justify-content: space-evenly; 
}

.system-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  //border: 2px solid #343a40;
  //box-shadow: inset 0 0 10px whitesmoke;
  height: 88vh;
  background: gainsboro;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

.system-card {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  //margin-top: 5%;
  border: 2px solid #343a40;
  box-shadow: inset 0 0 20px dimgray;
  background: gainsboro;
  //height: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.product-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  //border: 2px solid #343a40;
  //box-shadow: inset 0 0 10px whitesmoke;
  height: 88vh;
  background: gainsboro;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

.product-card {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  //margin-top: 5%;
  border: 2px solid #343a40;
  box-shadow: inset 0 0 20px dimgray;
  background: gainsboro;
  //height: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  //border: 2px solid #343a40;
  //box-shadow: inset 0 0 10px whitesmoke;
  height: 88vh;
  background: url('../images/jordan-harrison-1208586-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

.user-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  border: 2px solid #343a40;
  box-shadow: inset 0 0 20px dimgray;
  background: gainsboro;
  height: 40%;
  padding-bottom: 10px;
}

.modal-header {
  background: gray;
  color: whitesmoke;
  font-family: 'Stardos Stencil', cursive;
  //text-shadow: 0 0 10px whitesmoke;
  text-align: center;
  font-size: 3.5em;
  margin: auto;
  width: 100%;
}

.modal-footer {
  background: gray;
}

#edit-user {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  background: url('../images/franck-v-739401-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

#edit-user > div {
  border: 2px solid #343a40;
  padding: 30px;
  box-shadow: inset 0 0 10px whitesmoke;
  color: #00FF41;
  align-items: center;
  justify-content: center;
  display: flex;
  background: grey;
  //opacity: 0.4;
}


#edit-manufacturer, #edit-product, #edit-system {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  background: url('../images/franck-v-739401-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

#edit-manufacturer > div, #edit-product > div, #edit-system > div {
  border: 2px solid #343a40;
  padding: 30px;
  box-shadow: inset 0 0 10px whitesmoke;
  color: #00FF41;
  align-items: center;
  justify-content: center;
  display: flex;
  background: grey;
  //opacity: 0.4;
}


#latest-news {
  color: gray;
  font-style: italic;
}

#home-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #343A40;
  font-family: 'Stardos Stencil', cursive;
  text-shadow: 0 0 20px whitesmoke;
  text-align: center;
  font-size: 3.5em; 
  //align-items: center; 
}


#user-created-box, #password-updated-box {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  //background: url('../images/imgix-391813-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
  font-family: 'Stardos Stencil', cursive;
  border: 2px solid #343a40;
}

#product-box {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  background: url('../images/thomas-jensen-740972-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

#product-box > div {
  border: 2px solid #343a40;
  padding: 30px;
  box-shadow: inset 0 0 10px whitesmoke;
  color: #00FF41;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #3a3a3a;
  //opacity: 0.4;
}

#system-box {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  background: url('../images/thomas-jensen-740972-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

#system-box > div {
  border: 2px solid #343a40;
  padding: 30px;
  box-shadow: inset 0 0 10px whitesmoke;
  color: #00FF41;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #3a3a3a;
  //opacity: 0.4;
}

#manufacturer-box {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  background: url('../images/thomas-jensen-740972-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

#manufacturer-box > div {
  border: 2px solid #343a40;
  padding: 30px;
  box-shadow: inset 0 0 10px whitesmoke;
  color: #00FF41;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #3a3a3a;
  //opacity: 0.4;
}

#password-box {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  background: url('../images/thomas-jensen-592813-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

#password-box > div {
  border: 2px solid #343a40;
  padding: 30px;
  box-shadow: inset 0 0 10px whitesmoke;
  color: #00FF41;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #3a3a3a;
  //opacity: 0.4;
}

#register-box {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  background: url('../images/imgix-391813-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

#register-box > div {
  border: 2px solid #343a40;
  padding: 30px;
  box-shadow: inset 0 0 10px whitesmoke;
  color: #00FF41;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #3a3a3a;
  //opacity: 0.4;
}

#form-container > input {
  float: right;
}

#home-controls {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  background: url('../images/thomas-jensen-602189-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;  
}

#home-controls > div {
  border: 2px solid #343a40;
  padding: 30px;
  box-shadow: inset 0 0 10px whitesmoke;
  //color: #00FF41;
  //align-items: center;
  //justify-content: center;
  display: flex;
  background: #3a3a3a;
  //opacity: 0.4;
}

#logout-box {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  background: url('../images/clem-onojeghuo-705790-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
}

#logout-box > div {
  border: 2px solid #343a40;
  padding: 30px;
  box-shadow: inset 0 0 10px whitesmoke;
  color: red;
  align-items: center;
  justify-content: center;
  display: flex;
  background: gainsboro;
  //opacity: 0.4;
}

#login-box {
  display: flex;
  justify-content: center;
  align-items: center; 
  //border:1px solid whitesmoke;
  height: 88vh;
  background: url('../images/business-cabinet-data-325229.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#login-box > div {
  border: 2px solid #343a40;
  padding: 30px;
  box-shadow: inset 0 0 10px whitesmoke;
  color: #00FF41;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #3a3a3a;
  //opacity: 0.4;
}

#productbutton {
  width: 420px;
}

#systembutton {
  width: 250px;
}

#manufacturerbutton {
  width: 350px;
}

#registerbutton {
  width: 300px; 
}

#loginbutton {
  width: 300px;
}

#passwordbutton {
  width: 330px;
}

 #backhome {
  font-size: 0.8rem;
}

#message {
  font-weight: bold;
}

#chgpass, #logout, .fa-plus-circle {
  color: greenyellow;
}

//Correct space under footer:
#content {
  //max-height: 90vh;
  flex: 1 0 auto;
  //height: 100%;
}

#datetime {
  float: center;
  padding-left: 20px;
}

#social-media {
  float: center;
}

i {
  padding-left: 20px;
}

//Content and footer:
html,
body {
  height: 85%;
}
/*
#page-content {
  flex: 1 0 auto;
}
*/
#sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-shrink: none;
}

#userlogged {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: whitesmoke;
  //background: linear-gradient(to right, #0062E6, #33AEFF);
}

//Main title:
#main-title {
  color: whitesmoke;
  font-family: 'Stardos Stencil', cursive;
  text-shadow: 0 0 20px whitesmoke;
  text-align: center;
  font-size: 3.5em;
}

//Video header:
header {
  position: relative;
  background-color: black;
  height: 75vh;
  //min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: 1;
}

//